:root {
  --primary-color: #8ED2C9; 
  --secondary-color: #EEEEF1;
  --accent1-color: #BE2706; 
  --accent2-color: #00AAA0;
  --bg-color: #ED7A60;
  --bg2-color: #f8f4ec;
  --text-color: #3d3f3f;
  --text2-color: #1D1C1C;
  --shadow-color: #777;


  --heading-font: "Barlow Condensed", sans-serif;;
  --paragraph-font: "EB Garamond", serif;
   
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: var(--heading-font);
}

/* Header and Navigation */
header {
  display: flex;
  align-items: center;
  justify-content: space-between ;
  padding: .5rem 1.5rem;
  background-color: var(--secondary-color);

  width: 100%;    
}

header img {
  max-width: 100%;
}

#menu {
  top: 2rem;
  right: 0;
  align-self: center;
  font-size: 2rem;
  font-weight:700;
  padding: 1rem 1.5rem;
  color: var(--accent1-color);
  
}

#menu::before {
content: "≡";
}

.navigation {
list-style: none;
top: 5.3rem;
left: 0;
width: 100%;
padding: 1.3rem;
}

.navigation ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: var(--secondary-color);
  list-style: none;

}

.navigation li {
  display: none;
  
}

.navigation a {
  display: block;
  color: var(--text-color);
  font-size: 1.3rem;
  padding: .3rem;
}

ul.navigation.show{
  background: var(--secondary-color);
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

a.active{
    color: var(--accent1-color);
}

/*----Banner on home page----*/
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text2-color);
  padding: 15px;
}

.banner-show {
  display: flex;
}

.banner-hide {
  display: none;
}

.banner h2 {
  text-align: center;
  font-size: 1.5rem;
}

#closeBanner {
  background: none;
  color: var(--text2-color);
  border: none;
  padding: .5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}

#closeBanner:hover {
  color: var(--text-color);
}

/*----Main Section-----*/

main {
  background-color: var(--secondary-color);
}

.hero-section, .rentals {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.hero-info, .rentals-text {
  position: absolute;
  top: 2rem;
  text-align: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.704);
  padding: 1rem;
}


 h1 {
  font-size: 2.5rem;
  color: var(--text-color);
  text-shadow: 0 .1rem .3rem var(--shadow-color);
  line-height: .5rem;
}


.hero-info h2 {
  font-size: 1.2rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--text-color);
  
}

img {
  max-width: 100%;
  height: auto;
}

a.btn{
  display: flex;
  flex-wrap: wrap;
  height: 3.5rem;
  width: 12rem;
  margin: 1.5rem auto;
  background-color: var(--accent1-color);
  outline: none;
  color: var(--secondary-color);
  border-radius: 25px;
  font-size:2rem;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/*-----Weather-----*/
.weather-container {
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--primary-color);
  padding: 1rem;
  margin: .5rem;
}

h2 {
  color: var(--accent1-color);
  font-size: 2.5rem;
  text-align: center;
  padding: .5rem;
  margin: .5rem;
}

#weather img {
  max-width: 30%;
  height: auto;
}

.forecast-card {
  color: var(--text-color);
  background: var(--secondary-color);
  padding: 1.2rem;
  border-radius: 15px;
  margin: .5rem;   
  border: 3px solid var(--bg-color);
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  
}

.rentals-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fdb44b;
}

/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto 20px auto;
  background-color: var(--bg2-color);
}
.card {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 375px;
  color: var(--text-color);
  font-size: 1.5rem;
  background-color: var(--accent2-color);
  
}

.card:nth-child(2) {
  width: 450px;
}

.card h3 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 10px 0;
  
}
.card p {
  font-size: 0.85em;
  margin: 5px 0;
}
.card img {
  width: 300px;
  height: auto;
}
.card-info {
  padding: 0 0 10px;
}

footer section {
  margin: 0 auto;
  max-width: 100%;
  background-color: #fafafa;
  color: black;
  padding: 1rem;
}
.f-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.address-block {
  margin-bottom: 1em;
}

.credits{
  width: 100%;
  margin-top: auto;
  text-align: center;
  padding: .3rem;
}

/*----Rentals----*/

.rentals-text {
  position: absolute;
  top: 2rem;
  text-align: center;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.704);
  padding: 1rem;
}

/* Pricing Table */
.pricing {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  color: var(--text-color-header);
  order: 2;
}

table {
  margin: 10px auto;
  border: thin solid var(--border);
  box-shadow: 0 0 10px var(--shadow);
  border-collapse: collapse;
  font-size: 0.75rem;
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: var(--back);
  font-size: 0.85rem;
}

thead tr:first-child th {
  background-color: var(--back);
  color: var(--text-color-header);
  font-size: 1.3rem;
  padding: 15px;
}
thead tr:nth-child(2) th:first-child {
  background-color: var(--back);
  color: var(--forelight);
  padding: 15px;
}

th,
td {
  padding: 7px 15px;
  border: 1px solid var(--borderlight);
}

th {
  background-color: var(--back2);
  padding: 15px;
}

td {
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: var(--zebra);
}

tbody tr td:first-child {
  font-weight: bold;
}

.rental-benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 25px;
  color: var(--text-color-header);
  background-color: var(--accent2-color);
}
.rental-benefits h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 5px 0;
}
.rental-benefits ul,
.agreement ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.rental-benefits li,
.agreement li {
  display: flex;
  align-items: center;
  list-style: none;
  line-height: 1.6;
  gap: 10px;
}
.rental-benefits li::before,
.agreement li::before {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  background-image: url("../images/svg/circle-check.svg");
  background-size: cover;
}
.check-svg {
  width: 0.875rem;
  height: 0.875rem;
  color: var(--accent3-color);
}