:root {
  --primary-color: #346357; 
  --secondary-color: #EEEEF1;
  --accent1-color: #BE2706; 
  --accent2-color: #048998;
  --bg-color: #ED7A60;
  --bg2-color: #f8f4ec;
  --text-color: #3d3f3f;
  --text2-color: #1D1C1C;
  --shadow-color: #777;


  --heading-font: "Barlow Condensed", sans-serif;;
  --paragraph-font: "EB Garamond", serif;
   
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  font-family: var(--heading-font);
}

/* Header and Navigation */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 5rem;
  background-color: var(--secondary-color);
  box-shadow: 0 .1rem .3rem var(--shadow-color);
  top: 0; 
  left: 0;
  z-index: 1000;
  width: 100%;    
}

header img {
  max-width: 100%;
}

#menu {
  position: fixed;
  top: 2rem;
  right: 0;
  align-items: center;
  font-size: 2rem;
  font-weight:700;
  padding: 1rem 1.5rem;
  color: var(--accent1-color);
  
}

#menu::before {
content: "≡";
}

.navigation {
list-style: none;
top: 5.3rem;
left: 0;
width: 100%;
padding: 1.3rem;
}

.navigation ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: var(--secondary-color);
  list-style: none;

}

.navigation li {
  display: none;
  
}

.navigation a {
  display: block;
  color: var(--text-color);
  font-size: 1.3rem;
  padding: .3rem;
}

ul.navigation.show{
  background: var(--secondary-color);
}

.show li {
  display: block;
}

#menu.show::before {
  content: "X";
}

a.active{
    color: var(--accent1-color);
}

/* Banner on home page */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text2-color);
  padding: 15px;
  z-index: 1000;
}
.banner-show {
  display: flex;
}
.banner-hide {
  display: none;
}
.banner h2 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
}

#closeBanner {
  background: none;
  color: var(--text2-color);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1.5rem;
}
#closeBanner:hover {
  color: var(--text-color);
}

/*----Main Section-----*/

main {
  background-color: var(--bg2-color);
}
.hero-section {
  display: flex;
}

.hero-info {
  align-content: center;
  justify-content: center;
  
}


 h1 {
  font-size: 4rem;
  color: var(--accent1-color);
  text-shadow: 0 .1rem .3rem var(--shadow-color);
  line-height: .5rem;

}

.hero-info h2 {
  font-size: 1.2rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: var(--text-color);
}

.hero-image {
  
}



a.btn{
  display: flex;
  height: 3.5rem;
  width: 15rem;
  margin: 1.5rem;
  background-color: var(--text-color);
  outline: none;
  color: #ffffff;
  border-radius: 25px;
  font-size:2rem;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  align-items: center;
}





.rentals-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #fdb44b;
}

/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 0 auto 20px auto;
}
.card {
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 375px;
}
.card:nth-child(2) {
  width: 450px;
}

.card h3 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 10px 0;
}
.card p {
  font-size: 0.85em;
  margin: 5px 0;
}
.card img {
  width: 300px;
  height: auto;
}
.card-info {
  padding: 0 0 10px;
}

footer section {
  margin: 0 auto;
  max-width: 100%;
  background-color: #fafafa;
  color: black;
  padding: 1rem;
}
.f-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.address-block {
  margin-bottom: 1em;
}

.credits{
  width: 100%;
  margin-top: auto;
  text-align: center;
  padding: .3rem;
}