@media only screen and (min-width : 992px){
  
    #menu{
        display: none;
    }

    nav{
        padding: 1.5rem;
    }
    nav ul li::after{
        content: '';
        width: 0%;
        height: 3px;
        background: var(--accent1-color);
        display: block;
        margin: auto;
        transition: 0.5s;
      }
      
      nav ul li:hover::after{
        width: 100%;
      }
  
    .navigation {
        display: flex;
        justify-content: flex-end;
        border: none;
        top: 1rem;
        right: 0;
    }

    .navigation li {
        display: block;
        margin: 0 1rem;
      
    }

    .navigation a {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .hero-section {
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 25px;
        padding: .5rem 3rem;
        place-content: center;
        
      }
   
    .hero-info {
        grid-column: 1/2;
        text-align: left;
        
      }

      .hero-image {
        grid-column: 2/3;
      


    }
}