@media only screen and (min-width : 992px){
  
    #menu{
        display: none;
    }

    nav{
        padding: 1.5rem;
    }
    nav ul li::after{
        content: '';
        width: 0%;
        height: 3px;
        background: var(--accent1-color);
        display: block;
        margin: auto;
        transition: 0.5s;
      }
      
      nav ul li:hover::after{
        width: 100%;
      }
  
    .navigation {
        display: flex;
        justify-content: flex-end;
        border: none;
        top: 1rem;
        right: 0;
    }

    .navigation li {
        display: block;
        margin: 0 1rem;
      
    }

    .navigation a {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .hero-section {
        display: grid;
        gap: 25px;
        padding: .5rem 1rem;        
      }
   
    section.hero-info {
        grid-column: 1/2;
        text-align: left;
        justify-content: center;
        align-content: center;
        
      }

      h1 {
        font-size: 4rem;
      }

      #weather {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
        grid-column: 2/12;
        margin: .5rem;
        padding: .5rem;
    }

    .contact-text {
      position: absolute;
      top: 16rem;
      right: 0;
      text-align: center;
      align-content: flex-end;
      background-color: rgba(255, 255, 255, 0.302);
      padding: 1rem;
      font-size: 5rem;
    }

    .contact-area {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      font-size: 2.5rem;
      padding: .7rem;
    }
    .contact-area p{
      grid-column: 1/3;
    }

    .form {
      grid-column: 2/3;
      margin: 1rem auto;
      width: 80%;
    }

    fieldset label.top {
      font-size: 2rem; 
    }
    .visit {
      grid-column: 1/2;
    }
    .address {
      grid-column: 1/2;
    }
}