:root {
    --primary-color: #f8f5e4; 
    --secondary-color: #0e3047;
    --accent1-color: #f97300; 
    --accent2-color: #10828c; 
    --text-color: #ffffff;

    --heading-font: "Raleway", sans-serif;
    --paragraph-font: "Merriweather", serif;
     
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: var(--heading-font);
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--primary-color);
}


/* Dark Mode*/
.dark-mode {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.dark-mode-btn {
    display: flex;
    order: 4;
}
.toggle {
    background-color: var(--primary-color);
    width: 30px;
    height: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.nav-info input {
    display: none;
}
.dark-mode-btn input {
    display: none;
}
.slider {
    height: 15px;
    width: 15px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

input:checked + .toggle {
    background-color: var(--accent1-color);
  }
input:checked + .toggle > .slider {
    align-self: flex-end;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 1rem .5rem;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    box-shadow: 0 10px 10px 0 #777;
    align-items: center;
}

header img {
    padding: 1rem;
     max-width: 100%;
  
}
h1 {
  font-size: 1.2rem;  
}  

.social{

}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .7rem;
	background-color: var(--primary-color);
	color: var(--accent1-color);
}

#menu::before {
	content: "≡";
}

nav {
    margin: 0 auto;
    background-color: var(--accent1-color);
}

.navigation {
	list-style: none;
	margin: 0 auto;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    font-weight: bold;
    padding: .3rem;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

nav a {
    display: block;
    text-align: right;
    color: var(--accent2-color);
    text-decoration: none;  
}

.active {
	color: var(--primary-color);
}

main {
	font-size: 0.8rem;
}

.hero {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0%;
    position: relative;
    opacity: 0.8;
    color: #767575;
    }

#join {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    padding: 1rem;
    opacity: .8;
    border-radius: .5rem;
    z-index: 1;
}

.hero img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}


section{
    margin: .5rem;
	padding: .5rem;
	box-shadow: 0 2px 15px #6B7AA1;
	background-color:#f7f5f1;

}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #767575;

}

section img {
    width:100%;
    height: auto;
   
    margin: auto;
    padding: .7rem;
}

h3 {
    padding: .5rem;
	color: #4b4747;   
    justify-content: center;
    margin: 0;
    padding: 1rem;
}

h4 {
    color: #767575;
    text-align: center;
    padding: 1rem;
}

p {
    color: #4b4747;
    padding: 1rem;
   }


.spotlight{
        grid-column: span 2;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
        padding: 0px 20px;
        background-color: #ebecd8;
        padding: 10px;
        text-align: center; 
        box-shadow: 5px 5px 5px rgb(112, 112, 112);
    

}

.hover:hover{
    box-shadow: 0 0 50px #333;
}

.join-form{
    display:block;
    margin: .5rem;
    padding: .7rem;
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid #4b4747;
    border-radius: 10px;
    padding: 1.2rem;
    font-size: 1rem;
}

form legend{
    color: #d13133;
    margin: 0 1rem;
    padding: 0 .5rem;
}

label {
    margin: .5rem;
    padding: .5rem;
}
 #submit{
    background-color: #d13133;
    color: #FFFFFF;
    border-radius: 10px;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 10rem;
}

footer {
    background-color: var(--secondary-color);
    padding: 30px 30px 20px 30px;
    border-top: 1px solid #e5e5e5;
}

footer p{
        display: flex;
        background-color: var(--secondary-color);
        color: var(--accent1-color);
        padding: .5rem;
        text-align: center;
        align-items: center;
        justify-content: center;	
}

#directory {
    margin: 2rem;
    position: relative;
}
#directory h2 {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 0 1rem 0;
}
div #view {
display: flex;
align-items: center;
justify-content: center;
}

#view button {
    padding: .7rem 1rem;
    border-radius: 5px;
    background-color: #d13133;
    font-weight: bold;
    color: #EFEFEF;
    cursor: pointer;

}

#banner {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    color: var(--text-color-secondary);
    padding: 30px;
    margin-top: 2rem;
    text-align: center;
}
#banner-hide {
    display: none;
}

#banner p {
    font-size: 1.4rem;
    margin: 0;
}

#closeBanner {
    background: none;
    color: var(--text-color-secondary);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: x-large;
    /* margin-top: 5px; */
}
