* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/*font-size: 16px;*/
	font-family: 'Merriweather Sans', sans-serif;
	background-color: #979881;
}

#banner {
	text-align: center;
    display: none;
	background-color: antiquewhite;
	font-size: 1rem;
	color: #000;
	box-shadow: 1px -1px 10px 1px #00000087;
	margin-top: 15px;
	padding: 1rem;

}

/*Header*/

header {
	position: relative;
    padding: 1rem;		
}

h1, h2, h3 {
    color: #9d583f;	
}

h1 {
	text-align:center;
	font-size: 1.5rem;
}


.chamber-logo {
	max-width: 50%;
	margin: 0;
}

.social img {
	max-width: 3rem;
	margin: 0px 0.1rem;
	padding: .5rem;
}

nav a {
	text-decoration: none;
  }
  
nav button {
	min-width: 3rem;
	background: transparent;
	border: none;
	font-size: 2rem;
	color: #9d583f;
	float: right;
	margin-left: -1rem;
  }
  
nav:nth-child(2) {
	position: absolute;
	top: 2.5rem;
	right: 0;
  }
  
#hambBtn span:nth-child(1) {
	display: block;
  }
  
#hambBtn span:nth-child(2) {
	display: none;
  }

#hambBtn.open span:nth-child(1) {
	display: none;
  }
  
#hambBtn.open span:nth-child(2) {
	display: block;
  }
  
nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: none;
	width: 200px;
	text-align: center;
	font-size: 1.5rem;
  }
  
nav ul.open {
	display: block;
	position: absolute;
	top: 3.5rem;
	right: 0;
	z-index: 1;
  }
  
nav ul li a {
	display: block;
	padding: 0.8rem 2vw;
	text-decoration: none;
	color: #f3e6d6;	;
	background-color: #606762;
	
  }
  
nav ul li a:hover {
	background-color: #9d583f;
  }


.chamber-logo, .social {
	justify-self: center;
	align-self: center;
	
}

#date{
	display: block;
    margin: 0.5rem;
	padding: 0.75rem;
	justify-self: center;
	align-self: center;
	font-size: 13px;
	width:90%;
	text-align: center;
	color: #3f5b55;
	font-style: italic;	
	
}

/*Here starts the main config*/

 main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

.herodiv {
	padding: .5rem;
	position: relative;
	opacity: 0.8;
}

.herodiv h3 {
	position: absolute;
	top: 1rem;
	right: .5rem;
	padding: .5rem;	
	font-size: 1.2rem;
    
}

.heroimg {
	width: 100%;
	
}

.heroimg img {
	max-width: 100%;
	padding: .3rem;
	align-items: center;
	justify-content: center;
	
	
	
}


.herotext h3{
	display: inline;
	position: absolute;
	top: 20px;
	left: 20px;
	color: #0c295e;



}
.button-hero {
	position: absolute;
	bottom: 50px;
	right: 30px;
	border-radius: 10px;
	padding: 10px;
	border: none;
    background-color: #742b08;
    color: whitesmoke;
    border-radius: 0.75rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 27%;
    width: 96%;
    max-width: 10rem;
	
}






.spolight{
	grid-row: 5/6;
	display:flex;
	flex-grow: 2;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 6px;
	gap:6px;
	
}

.event img {
	max-width: 40%;
}
.spotlight-1 {

	display: flex;
	flex-flow: column;
	gap: 3px;
	
}

.spotlight-2 {

	display: flex;
	flex-flow: column;
	gap: 3px;
	
}

main section{
	margin: .5rem;
	padding: 4rem;
	box-shadow: 0 2px 15px #6B7AA1;
	background-color:#f7f5f1;

}

.spotlight-1, .spotlight-2{
	padding: 1rem;
	width: 100%;
	background-color: #4c6f677c;
}
section .spotlight-3{
	display: none;
}
header,
nav,
main,
footer {
	max-width: 1600px;
	margin: 0 auto;
	
}

/*Here starts the footer config*/


footer{

	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 3rem;
	
	
}



.title-footer{
	font-size: 16px;
}

.line {
	background-color: black;
	margin: 5px;
  }

  .sonora-pictures{
	max-width: 50%;
	margin: 0 auto;

  }

  .join-form {
	margin: 0 auto;
	padding: .7rem;
  }

  fieldset {
	padding: 2 rem;
  }

  .membership {
	padding: 1.5 rem;
  }

  