* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
	font-family: 'Raleway', sans-serif;
    position: relative;
    
}

header,
footer {
    display: flex;
    box-shadow: 0 10px 10px 0 #777;
    background-color: #EFEFEF;
    color: #d13133;
	padding: 1.5rem;
    align-items: center;
    justify-content: space-between;	
}

header img {
    border-radius: 1.2rem 0 1.2rem 0;
}
h1 {
    padding: .7rem;
}   

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #d13133;
}

#menu::before {
	content: "≡";
}

nav {
    background-color: #d13133;
    margin: 0 auto;
    color: white;   
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;

}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
}

nav a {
    display: block;
    text-align: right;
    color: #FFFFFF;
    text-decoration: none;  
}


.active {
	color: #edf5cc;
}

section ul{
    list-style-type: none;
    text-align: left;
}

nav a:hover{
    text-decoration: overline;
}

main {
	font-size: 0.8rem;
}

.hero {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 0%;
    position: relative;
    opacity: 0.8;
    color: #767575;
    }

#join {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    padding: 1rem;
    opacity: .8;
    border-radius: .5rem;
    z-index: 1;
}

.hero img {
    height: auto;
    margin: 0 auto;
    max-width: 100%;
}


section{
    margin: .5rem;
	padding: 1.5rem;
	box-shadow: 0 2px 15px #6B7AA1;
	background-color:#f7f5f1;

}

h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    color: #767575;

}

section img {
    display: block;
    margin: auto;
    padding: .7rem;
}

h3 {
    padding: .5rem;
	color: #767575;   
    justify-content: center;
    margin: 0;
    padding: 1rem;
}

h4 {
    color: #767575;
    text-align: center;
    padding: 1rem;
}

p {
    color: #323015;
    padding: 1rem;
   }


.spotlight{
    margin: 20px;
    border-bottom: 20px;
    box-shadow: 0 4px 8px rgba(61, 66, 74, 0.2);
    border-radius: .5rem;
    background-color: #f5f9a4;
}


.active {
	color: #f5f9a4;
}  

footer p {
    color: #d13133;
    padding: .5rem;
}