@media screen and (min-width: 700px) {

    .spots {
        display: grid;
        grid-column: 1/4;
    }

    div.cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 5px;
        align-items: center;
        align-items:  stretch;
    
    }
   

    .thanks {
        display: block;
    }
       
    footer hr {
        grid-column: 1 / 3; 
        width: 98%; 
        border: none;
        height: 1px;
        background-color: white;
        margin: .5rem; 
    }
}