body{
    font-family: "Fredoka", sans-serif;
    background-image: linear-gradient(
        to bottom right,
        #FDC639, #FF7C60
    );
}
    
h1 {
    font-size: 2.5rem;
    color: rgb(8, 7, 7);
    text-align: center;
    }
    
main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}


img {
    width: 100%;
    background: #000;
    animation: fade 15s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
} 
      
footer {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}